@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kaushan+Script" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet');
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  max-width: 1400px;
  width: 1400px;
}

.btn {
  font-family: "Montserrat";
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  background: #fed136;
  width: 240px;
  height: 65px;
  margin-bottom: 160px;
  border-width: 0;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
}

h6 {
  font-family: "EB Garamond",serif;
  font-size: 16px;
  color: gray;
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

.hero {
  background-image: url("./images/background-head.jpg");
  background-size: cover;
}

.hero header {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: unset;
}

.hero header .logo {
  font-family: "Dancing Script",cursive;
  font-size: 26px;
  color: #fed136;
  font-weight: normal;
  font-style: normal;
}

.hero header .navigation {
  list-style-type: none;
  display: flex;
}

.hero header .navigation li {
  font-size: 14px;
  margin: 50px 16px 205px 16px;
}

.hero header .navigation li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: #fff;
}

.hero .home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .home h1 {
  font-family: "Montserrat";
  font-size: 75px;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 60px;
}

.hero .home h2 {
  font-family: "EB Garamond",serif;
  font-size: 40px;
  color: #fff;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 50px;
}

.title-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-services h2 {
  font-family: "Montserrat";
  font-size: 40px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0;
}

.services-holder {
  display: flex;
  margin: 120px 230px;
}

.services-holder .service-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 16px;
}

.services-holder .service-element .icon-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 60px;
  height: 60px;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin-bottom: 20px;
}

.services-holder .service-element .icon-basket .fa {
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  color: #fed136;
  font-weight: bold;
  font-style: normal;
  line-height: 75px;
}

.services-holder .service-element h5 {
  font-family: "Montserrat";
  font-size: 18px;
  color: #000;
  font-weight: bold;
  font-style: normal;
}

.services-holder .service-element p {
  font-family: "EB Garamond",serif;
  font-size: 14px;
  color: gray;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.portfolio {
  background: #f7f7f7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.portfolio .title-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio .title-portfolio h2 {
  font-family: "Montserrat";
  font-size: 40px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0;
}

.portfolio .projects-holder {
  margin: 80px 230px 120px 230px;
}

.portfolio .projects-holder .row {
  display: flex;
}

.portfolio .projects-holder .row .project-example {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  margin: 30px 16px;
}

.portfolio .projects-holder .row .project-example img {
  margin-bottom: 30px;
}

.portfolio .projects-holder .row .project-example h3 {
  font-family: "Montserrat";
  font-size: 18px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}

.portfolio .projects-holder .row .project-example h5 {
  font-family: "EB Garamond",serif;
  font-size: 16px;
  color: gray;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 30px 0;
}

.about-us .title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-us .title-about h2 {
  font-family: "Montserrat";
  font-size: 40px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0;
}

.about-us .about-holder .about-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 80px;
}

.about-us .about-holder .about-element .img-basket {
  position: absolute;
}

.about-us .about-holder .about-element .description h4 {
  font-family: "Montserrat";
  font-size: 18px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}

.about-us .about-holder .about-element .description p {
  font-family: "EB Garamond",serif;
  font-size: 14px;
  color: gray;
  font-weight: normal;
  font-style: normal;
}

.about-us .about-holder .about-element .description-left {
  text-align: right;
  margin-right: 500px;
}

.about-us .about-holder .about-element .description-right {
  text-align: left;
  margin-left: 500px;
}

.about-us .about-holder .last-element {
  margin-bottom: 120px;
}

.amazing-team {
  background: #f7f7f7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.amazing-team .title-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.amazing-team .title-team h2 {
  font-family: "Montserrat";
  font-size: 40px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0;
}

.amazing-team .team-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.amazing-team .team-holder .team-member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.amazing-team .team-holder .team-member .member-photo {
  background: #000;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.amazing-team .team-holder .team-member .member-caption h5 {
  font-family: "Montserrat";
  font-size: 16px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0;
  text-align: center;
}

.amazing-team .team-holder .team-member .member-caption p {
  font-family: "Times New Roman";
  font-size: 16px;
  color: gray;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin: 0;
}

.amazing-team .team-holder .team-member .member-media {
  display: flex;
}

.amazing-team .team-holder .team-member .member-media .media-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 30px;
  height: 30px;
  border: 3px solid;
  border-radius: 50%;
  margin: 20px 5px;
}

.amazing-team .team-holder .team-member .member-media .facebook-circle {
  border-color: #3b5998;
  color: #3b5998;
}

.amazing-team .team-holder .team-member .member-media .twitter-circle {
  border-color: #00aced;
  color: #00aced;
}

.amazing-team .team-holder .team-member .member-media .pinterest-circle {
  border-color: #cb2028;
  color: #cb2028;
}

.amazing-team .team-holder .team-member .member-media .google-circle {
  border-color: #d95232;
  color: #d95232;
}

.amazing-team .description p {
  font-family: "Roboto Slab",serif;
  font-size: 16px;
  color: gray;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  margin-bottom: 120px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 120px;
}

.contact {
  background-image: url("./images/background-footer.jpg");
  background-size: cover;
}

.contact .contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact .contact-title h2 {
  font-family: "Montserrat";
  font-size: 40px;
  color: #000;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0;
  color: #fff;
}

.contact .contact-title h6 {
  color: #777;
}

.contact .contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
}

.contact .contact-form input, .contact .contact-form textarea {
  font-family: "Montserrat";
  font-size: 14px;
  color: #dfdfdf;
  font-weight: bold;
  font-style: normal;
  width: 440px;
  height: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding: 0 0 0 20px;
  border-radius: 2px;
  border-width: 0;
}

.contact .contact-form textarea {
  height: 190px;
  margin-left: 30px;
  padding-top: 20px;
}

.contact .btn-send-holder {
  text-align: center;
}

.contact .btn-send-holder .btn-send {
  margin-bottom: 115px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0;
}

.footer .copyright {
  font-family: "Montserrat";
  font-size: 14px;
  color: #555;
  font-weight: normal;
  font-style: normal;
  margin-right: 550px;
}

.footer .media-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  position: absolute;
}

.footer .media-holder .media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: initial;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  margin: 5px;
}

.footer .media-holder .media-twitter {
  background-color: #00aced;
}

.footer .media-holder .media-facebook {
  background-color: #3b5998;
}

.footer .media-holder .media-pinterest {
  background-color: #cb2028;
}

.footer .media-holder .media-google {
  background-color: #d95232;
}

/*# sourceMappingURL=style.css.map */