$main-gold: #fed136;
$main-gray: #808080;
$background-gray: #f7f7f7;
$main-font: "Montserrat";
$garamond-font: 'EB Garamond', serif;
$dancing-script: 'Dancing Script', cursive;
$times-font: 'Times New Roman';
$roboto-font: 'Roboto Slab', serif;
@mixin flexible($display, $align-items, $justify-content, $flex-direction) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}
@mixin font-source($font-family, $font-size, $color, $font-weight, $font-style) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
    font-style: $font-style;
}
@mixin section-title {
    @include font-source($main-font, 40px, #000, bold, normal);
    text-transform: uppercase;
    margin-bottom: 0;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}