@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kaushan+Script" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet');
@import "mixins";

body {
    max-width: 1400px;
    box-sizing: border-box;
}
.btn {
    @include font-source($main-font, 18px, #fff, bold, normal);
    background: $main-gold;
    width: 240px;
    height: 65px;
    margin-bottom: 160px;
    border-width: 0;
    text-transform: uppercase;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
    }
}
h6 {
    @include font-source($garamond-font, 18px, $main-gray, normal, italic);
    margin: 0;
}
    // HERO SECTION
.hero {                                                   
    background-image: url("../images/background/background-head.jpg");
    background-size: cover;
    header {
        @include flexible(flex, baseline, space-evenly, unset);
        .logo {
            @include font-source($dancing-script, 26px, $main-gold, normal, normal);
        }
        .navigation {
            list-style-type: none;
            display: flex;
                li {
                    font-size: 14px;
                    margin: 50px 16px 205px 16px;
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: $main-font; 
                        color: #fff;
                    }
                }
        }
    }
    .home {
        @include flexible(flex, center, center, column);
        h1 {
            @include font-source($main-font, 75px, #fff, bold, normal);  
            margin-bottom: 60px;    
        }
        h2 {
            @include font-source($garamond-font, 40px, #fff, normal, italic);
            margin-bottom: 50px;
        }
    }   
}
                                                // SECTION SERVICES
.title-services {
    @include flexible(flex, center, center, column);
    margin-top: 120px;
    h2 {
        @include section-title;
    }
}
.services-holder {
    display: flex;
    margin: 120px 230px;
    .service-element {
       @include flexible(flex, center, center, column);
       margin: 20px 16px;
        height: fit-content;
       .icon-basket{
            @include flexible(flex, center, center, initial);
            width: 60px;
            height: 60px;
            border: 3px solid $main-gold;
            border-radius: 50%;
            margin-bottom: 20px;
            .fa {
                @include font-source("Font Awesome 5 Free", 18px, $main-gold, bold, normal);    
                line-height: 75px;
            }
       }
       h5 {
           @include font-source($main-font, 18px, #000, bold, normal);
       }
       p {
            @include font-source($garamond-font, 15px, $main-gray, normal, normal);
            text-align: center;
       }
   }
}                                                
                                                            // PORTFOLIO
.portfolio {
    display: block;
    background: $background-gray;
    height: fit-content;
    .title-portfolio {
        @include flexible(flex, center, center, column);
        padding-top: 120px;
        h2 {
            @include section-title;
        }
    }
    .projects-holder {
        margin: 80px 230px 120px 230px;
        .row {
            display: flex;
            .project-example {
                @include flexible(flex, center, center, column);
                background: #fff;
                margin: 30px 16px;
                img {
                    margin-bottom: 30px;
                }
                h3 {
                    @include font-source($main-font, 18px, #000, bold, normal);
                    margin: 0;
                }
                h5 {
                    @include font-source($garamond-font, 16px, $main-gray, normal, italic);
                    margin: 0 0 30px 0;
                }
            }   
        }    
    }
}
                                                    //  ABOUT US
.about-us {
    .title-about {
        @include flexible(flex, center, center, column);
        margin-top: 120px;
        h2 {
            @include section-title;
        }
    }
    .about-holder {    
        .about-element {
            @include flexible(flex, center, center, row-reverse);
            margin-top: 80px;
            .img-basket {    
                position: absolute
            }
            .description {
                h4 {
                    @include font-source($main-font, 18px, #000, bold, normal);
                    margin: 0;
                }
                p {
                    @include font-source($garamond-font, 16px, $main-gray, normal, normal);
                }
            }
            .description-left {
                text-align: right;
                margin-right: 500px;
            }
            .description-right {
                text-align: left;
                margin-left: 500px;
            }    
        }
        .last-element {
            margin-bottom: 120px;
        }    
    }
}  
                                                // AMAZING TEAM         
.amazing-team {
    background: $background-gray;
    height: fit-content;
    .title-team {
        @include flexible(flex, center, center, column);
        padding-top: 120px;
        h2 {
            @include section-title;
        }
    }
    .team-holder {
        @include flexible(flex, center, center, row);
        .team-member {
            @include flexible(flex, center, center, column);
            margin-top: 80px;
            .member-photo {
                background: #000;
                width: 220px;
                height: 220px;
                border-radius: 50%;    
            }
            .member-caption {    
                h5 {
                    @include font-source($main-font, 16px, #000, bold, normal);
                    margin-bottom: 0;
                    text-align: center;
                }
                p {    
                    @include font-source($times-font, 16px, $main-gray, normal, normal);
                    text-align: center;
                    margin: 0;        
                }    
            }
            .member-media {
                display: flex;
                .media-circle {
                @include flexible(flex, center, center, initial);
                width: 30px;
                height: 30px;
                border: 3px solid;
                border-radius: 50%;
                margin: 20px 5px;
                }
                .facebook-circle {
                    border-color: #3b5998;    
                    color: #3b5998;
                }
                .twitter-circle {
                    border-color: #00aced;
                    color: #00aced;    
                }
                .pinterest-circle {
                    border-color: #cb2028;
                    color: #cb2028;    
                }
                .google-circle {
                    border-color: #d95232;
                    color: #d95232;
                }
            }
        }    
    } 
    .description {
        p {
            @include font-source($roboto-font, 16px, $main-gray, normal, normal); // Czcionka nie działa! net::ERR_ABORTED 400
            text-align: center;
            margin-bottom: 120px;   
        }
    }       
}
//                                              CONTACT
.logos {
    @include flexible(flex, center, center, row);
    margin: 120px;
}
.contact {
    background-image: url('../images/background/background-footer.jpg');
    background-size: cover;
    .contact-title {
        @include flexible(flex, center, center, column);
        padding-top: 120px;
        h2 {
            @include section-title;
            color: #fff;
        }
        h6 {
            color: #777;
        }
    }
    .contact-form {
        @include flexible(flex, center, center, row);
        margin-top: 80px;
        input, textarea {
            @include font-source($main-font, 14px, #dfdfdf, bold, normal);
            width: 440px;
            height: 50px;
            margin-bottom: 30px;
            text-transform: uppercase;
            padding: 0 0 0 20px;
            border-radius: 2px;
            border-width: 0;    
        }
        textarea {
            height: 190px;
            margin-left: 30px;
            padding-top: 20px;    
        }    
    }
    .btn-send-holder {
        text-align: center;
    .btn-send {
        margin-bottom: 115px;
    }
    }
}
                                            // FOOTER
.footer {
    @include flexible(flex, center, center, row);
    margin: 20px 0;
    .copyright {
        @include font-source($main-font, 14px, #555, normal, normal);
        margin-right: 550px;
    }
    .media-holder {
        @include flexible(flex, center, center, initial);
        position: absolute;
        .media {
            @include flexible(flex, center, center, initial);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            margin: 5px;
        }
        .media-twitter {
            background-color: #00aced;
        }
        .media-facebook {
            background-color: #3b5998;
        }
        .media-pinterest {
            background-color: #cb2028;
        }
        .media-google {
            background-color: #d95232;
        }
    }
}

@media (max-width: 900px) {
    body {
        text-align: center;
        margin: 0 auto;
    }
    .col-md-12 {
        width: 100%;    
    }
    .col-md-6 {
        width: 50%
    }
    .services-holder {
        display: block;
    }
    .amazing-team {
        .team-holder {
            display: block;
        } 
    }
    .portfolio {
        .projects-holder {
            .row {
                display: block;
                .project-example {
                 margin: inherit;
                }
            }
        }
    }
    .contact {
        .contact-form {
            display: block;
            textarea {
                margin-left: 0;
            }  
        }
    }
}