@import "normalize";
@import "variables"; 
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kaushan+Script" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet');

@mixin font-source($font-family, $font-size, $color, $font-weight, $font-style) {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin flexible($display, $align-items, $justify-content, $flex-direction) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

// GENERAL
.nav-list{
    list-style-type: none;
    text-transform: uppercase;
    line-height: 18px;
    margin: 0;
}

a {
    text-decoration: none;
}

.btn {
    background: $dirty-gold;
    line-height: 18px;
    text-transform: uppercase;
    outline: none;
    border: none;
    &:hover {
        cursor: pointer;
    }  
    &:active {
        background-color: #000;   
    }  
}
    
.btn-main {
    @include font-source($main-font, 12px, #fff, bold, normal);
    width: 190px;
    height: 45px;
    border-radius: 12px;
}

.title-container {
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0;
    h2 {
        @include font-source($main-font, 25px, #000, 600, normal);
        line-height: 30px;
        margin: 0;
    }
    h4 {
        @include font-source($main-font, 12px, $font-gray, 600, normal);
    }
}
// SECTION HEADER
.header {
    .navbar,ul {
        background-color: #000;
        height: 90px;
        .main-nav-list {
            @include font-source($main-font, 14px, #fff, bold, normal);
            @include flexible(flex, center, center, unset);
            #logo {
                height: 60px;
                margin-right: 90px;
            } 
            li {
                margin: 0 8px;
                a {
                    @include font-source($main-font, 14px, #fff, bold, normal);
                    padding: 32px 0; 
                    &:hover {
                        border-bottom: 4px solid $dirty-gold; 
                    }   
                }
            } 
        }
    }
    .hero {
        @include flexible(flex, center, center, column);
        height: calc(100vh - 90px);
        background-image: url("../images/header-background.jpg");
        background-size: cover; 
        text-align: center;
        h1 {
            @include font-source($main-font, 72px, #fff, bold, normal);
            line-height: 69px;
            text-transform: uppercase;
            margin: 0;
            .communication {
                color: $dirty-gold;
            }
        } 
        h3 {
            @include font-source($main-font, 24px, #fff, 600, normal);
            line-height: 18px;
            text-transform: uppercase;
        }
        .pagination-container {
            position: absolute;
            bottom: 20px;
            .dot { 
                width: 15px;
                height: 15px;
                border: 2px solid $dirty-gold;
                border-radius: 50%; 
                margin: 0 2px;
                background: transparent;
            }    
            .active {
                background-color: $dirty-gold;
            }  
        }
    }
    .btn-call-us {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: -30px;
        margin-left: 90%; 
    }
}

// SECTION ABUT US
.about-us {
    background: $background-gray;
    margin-top: -30px; 
    .about-us-info{
        @include font-source($main-font, 14px, #000, 200, normal);
        @include flexible(flex, unset, center, unset);
        padding-bottom: 90px;
        line-height: 25px;
        .description {
            p {
                margin: 0 30px 35px 0;
            }
        }
        .video {
            background-size: cover;
        }
    }
}

// /SECTION SERVICES
.services {
    background: #000;
    h2 {
        color: #fff;
    }
    .our-services {
        @include flexible(flex, center, center, row);
        padding-bottom: 75px; 
        .service {
            text-align: center;
            h3 {
                @include font-source($main-font, 18px, #fff, 600, normal);
                text-transform: uppercase
            }
            p {
                @include font-source($main-font, 12px, $description-gray, 400, normal);
            }
        }
    }
}
// SECTION PROJECTS
.projects {
    background: $background-gray;
    padding-bottom: 55px;
    .projects-nav-list {
        @include flexible(flex, center, center, unset);
        border: 1px solid #cfcfcf;
        border-radius: 40px; 
        height: 55px;
        width: fit-content;
        padding: 0;
        margin: 0 auto;
        li {
            @include flexible(flex, center, center, unset);
            border-right: 1px solid #cfcfcf;
            padding: 0 40px;
            &:last-child {
                border: none;
            }
            a {
                @include flexible(flex, center, center, unset);
                @include font-source($main-font, 14px, #000, 200, normal);
                height: 51px;
                &:hover {
                    border-bottom: 4px solid $dirty-gold; 
                } 
            }
        } 
    }
    .photos-container {
        @include flexible(flex, center, center, unset);
        margin: 40px 40px 0px 40px;
        .photos-column {
        @include flexible(flex, center, center, column);
            img {
                margin-bottom: 30px;
            }
        }
    }
    .btn-container {
        @include flexible(flex, center, center, unset);
    }
}




